[Unit]
Description=Redis for Paperless-ngx
RequiresMountsFor=%t/containers

[Container]
Pod=paperless.pod

Image=docker.io/library/redis:8

Volume=nfs-paperless-redis.volume:/data:Z

HealthCmd=redis-cli -p 6379 ping
# HealthInterval=10s
# HealthTimeout=3s
# HealthRetries=10
# HealthStartPeriod=30s
HealthOnFailure=kill
# Notify=true

[Service]
Restart=on-failure