[Unit]
Description=Postgres for Paperless-ngx
RequiresMountsFor=%t/containers

[Container]
Pod=paperless.pod

Image=docker.io/library/postgres:17

Volume=paperless-postgres.volume:/var/lib/postgresql/data:Z 

User=999
Group=999

Environment=POSTGRES_DB=paperless
Environment=POSTGRES_USER=paperless
Environment=POSTGRES_PASSWORD=paperless

HealthCmd=pg_isready -d paperless -U paperless
# HealthStartPeriod=120s
# HealthInterval=10s
# HealthTimeout=10s
# HealthRetries=5
HealthOnFailure=kill
# Notify=true

[Service]
Restart=on-failure
